
{% extends '::base.html.twig' %}
{% block title %}Lager - Platz{% endblock %}


{% block body %}
<h1>StockGround creation</h1>

<form action="{{ path('BSData_stockground_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('BSData_stockground') }}">
            Back to the list
        </a>
    </li>
</ul>
        {% endblock %}