{% extends '::base.html.twig' %}

{% block title %} Daten {% endblock %}


{% block body %}

<div id="menu">

    <ul>
        <li><a href="{{ path('BSData_product', { 'page': 1 }) }}" >Produkte</a></li>
        <li><a href="{{ path('BSData_stock') }}" >Lager</a></li>
        <li><a href="{{ path('BSData_stockground') }}" >Lager-Plätze</a></li>
        <li><a href="{{ path('BSData_mainmenu') }}" >zurück</a></li>
    </ul>

</div>


        {% endblock %}