table tbody tr>td{
    padding: 0px 5px;
    border-right: 1px solid #C1DAD7;
    border-bottom: 1px solid #C1DAD7;
}
table tbody tr>td:first-child{
    border-left: 1px solid #C1DAD7;

}

table tr>th{
    padding: 0px 5px;
    border-right: 1px solid #C1DAD7;
    border-bottom: 1px solid #C1DAD7;
    border-top: 1px solid #C1DAD7;
}

table td table td {
    font-size: 10pt;

}

table li{
    list-style: none;
    margin: 0;
    padding: 0;
}

.article_items{
    background-color: #fff;
   /* border: 2px solid greenyellow;*/
    padding: 10px;
}

.actions li{
    list-style: none;
    float: left;
}
#result table{
    width: 100%;
}