@media screen and ( max-width: 760px )  {
    /* linearization for grid module */
    .linearize-level-1,
    .linearize-level-1 > [class*="ym-g"] {
        display: block;
        float: none;
        padding: 0;
        margin: 0;
        width: 100% !important;
    }
    /* reset defined gutter values */
    .linearize-level-1 > [class*="ym-g"] > [class*="ym-gbox"] {
        overflow: hidden; /* optional for containing floats */
        padding: 0;
        margin: 0;
    }
}

body{
    font-family: arial,sans-serif;
}

a:focus,
a:hover{
    background-color: #ffffff;

}



body > header {

    min-width: 760px;
    background-color: #8ADD00;

    min-height: 110px;


}


h1 {
    color: #008000;

}

.bordertable thead th{
    background-color: #00BB00;

}

.sidebar_scrollable_400{

    height: 400px;
    overflow: scroll;
}


.ym-wrapper {
        max-width: 80em;

}
.ym-wbox { padding: 10px; }

.ym-cbox{
    margin-bottom: 20px;
}

.ym-column {
    display: block;
    overflow: hidden;
/*    padding-right: 250px; /* column width */
    width: auto;
}
.ym-col1 { /* content */
    position: relative;
    float: left;
    width: 80%;
}
.ym-col3 { /* sidebar */
    position: relative;
    float: right;
    width: 250px; /* column width */
    margin: 0 -250px 0 0;
}

/* Kassen Layout */

.co_items{
    margin: 0;
}

.shopinglist{
    margin-top: 20px;
    height: 400px;
    border: 1px solid #000000;
    overflow: auto;
}
.shopinglist table{
    margin: 0;
}

.itemEdit{
    margin-left: 10px;
    display: inline;
   opacity: 0;

}
tr:hover div.itemEdit{
    opacity: 1;
}
.itemEdit img{
    width: 16px;
    height: 16px;
}
.header_checkout{
    height: 100px;
    display: inline;
    width: auto;
}

.header_checkout h1{
    display: inline;
}

.checkout-box{
    background-color: #00C800;
    cursor: pointer;
    float: left;
    height: 15px;
    margin: 5px;
    padding: 5px;
    width: 200px;
    font-size: 10pt;
}
.checkout-box:hover{
    background-color: #ddC8dd;
}

.inputkeyboard{
    font-size: 18px;
}

div.co_result{
    width: 150px;
    font-size: 1.5em;

}


div.co_toPay,
input.co_payed,
div.co_return{
    display: block;
    border: 1px solid #000000 ;
    font-size: 2em;
    height: 40px;
}

div.co_receipt{
    margin-top: 10px;

}
div.co_receipt textarea{
    width: 350px;
}

.toPaydialog form{
    display: inline;
}



/* Rechungserstellung */

.Payment_Buttons li{
    list-style: none;
    float: left;

}
.Payment_Buttons li button,
.Payment_Buttons li a{
    margin: 0 ;

    padding: 0 5px;
}



.orderdialog label {
    width: 100px;
    margin-right: 10px;
}
.orderdialog input {
   float: right;

}

.orderdialog div{
    width: 300px;
    margin-bottom: 10px;
}

.iteminput{
    width: 25px;
}

.itemprice{
    width: 65px;
}

