@media screen and ( max-width: 760px )  {
    /* linearization for grid module */
    .linearize-level-1,
    .linearize-level-1 > [class*="ym-g"] {
        display: block;
        float: none;
        padding: 0;
        margin: 0;
        width: 100% !important;
    }
    /* reset defined gutter values */
    .linearize-level-1 > [class*="ym-g"] > [class*="ym-gbox"] {
        overflow: hidden; /* optional for containing floats */
        padding: 0;
        margin: 0;
    }
}

body{
    font-family: arial,sans-serif;
}
a.bsbutton {
    background-color: #00C800;
    color: #000000;
    display: block;
    font-family: Verdana,Tahoma,Arial,sans-serif;
    font-size: 10px;
    font-weight: normal;
    height: 20px;
    line-height: 170%;
    padding: 0 0 0 8px;
    text-align: left;
    text-decoration: none;
}

a.bsbutton:focus,
a.bsbutton:hover{
    background-color: #ffffff;

}



body > header {

    min-width: 760px;
    background-color: #8ADD00;

    min-height: 110px;


}


h1 {
    color: #008000;

}

.bordertable thead th{
    background-color: #00BB00;

}

.sidebar_scrollable_400{

    height: 400px;
    overflow: scroll;
}


.ym-wrapper {
        max-width: auto;

}
.ym-wbox { padding: 10px; }

.ym-cbox{
    margin-bottom: 20px;
}

.ym-column {
    display: block;
    overflow: hidden;
/*    padding-right: 250px; /* column width */
    width: auto;
}
.ym-col1 { /* content */
    position: relative;
    float: left;
    width: 80%;
}


.ym-col3 { /* sidebar */
    position: relative;
    float: right;
    width: 20%;
    margin: 0;
}

/* Kassen Layout */

.co_items{
    margin: 0;
}

.shopinglist{
    margin-top: 20px;
    height: 400px;
    border: 1px solid #000000;
    overflow: auto;
}
.shopinglist table{
    margin: 0;
}

.itemEdit{
    margin-left: 10px;
    display: inline;
   opacity: 0;

}
tr:hover div.itemEdit{
    opacity: 1;
}
.itemEdit img{
    width: 16px;
    height: 16px;
}
.header_checkout{
    height: 100px;
    display: inline;
    width: auto;
}

.header_checkout h1{
    display: inline;
}

.checkout-box{
    background-color: #00C800;
    cursor: pointer;
    float: left;
    height: 15px;
    margin: 5px;
    padding: 5px;
    width: 200px;
    font-size: 10pt;
}
.checkout-box:hover{
    background-color: #ddC8dd;
}

.inputkeyboard{
    font-size: 18px;
    width: 50px;
}

div.co_result{
    width: 150px;
    font-size: 1.5em;

}


div.co_toPay,
input.co_payed,
div.co_return{
    display: block;
    border: 1px solid #000000 ;
    font-size: 2em;
    height: 40px;
}

div.co_receipt{
    margin-top: 10px;

}


.toPaydialog form{
    display: inline;
}


/* Rechungserstellung */

.Payment_Buttons {
    display: inline-block;
}

.Payment_Buttons li{
    list-style: none;
    float: left;

}
.Payment_Buttons li button,
.Payment_Buttons li a{
    margin: 0 ;

    padding: 0 5px;
}



.orderdialog label {
    width: 100px;
    margin-right: 10px;
}
.orderdialog input {
   float: right;

}

.orderdialog div{
    width: 300px;
    margin-bottom: 10px;
}

.iteminput{
    width: 25px;
}

.itemprice{
    width: 65px;
}

.article{
    width: 50%;
}
ul.checkout_nav{
    display: inline-block;
}
.checkout_nav li{
    list-style: none;
    float: left;
}
.checkout_nav li div,
.checkout_nav li a{
    background-color: greenyellow;
    width: 20px;
    height: 20px;
    border: 10px solid greenyellow;
    font-size: 20pt;
    cursor: pointer;
    margin: 5px;
    padding: 0px;
    line-height: 20px;
    -webkit-box-shadow:  5px 2px 2px 2px rgba(0, 0, 0, 0.5);
    box-shadow:  5px 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.checkout_nav li a:hover{
    background-color: #00FF00;
    border: 10px solid  #00FF00;
    color: #ffffff;
    -webkit-box-shadow:  2px 1px 1px 1px rgba(0, 0, 0, 0.5);
    box-shadow:  2px 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.checkout_nav li a.checkout_nav_active{
    background-color: #008000;
    border: 10px solid  #008000;
    color: #ffffff;
}


tfoot tr {
    border-top: 1px solid #CCCCCC;
    text-align: left;
}

.ui-autocomplete {
    max-height: 400px;
    width: 90%;
    overflow-y: visible;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}
/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ui-autocomplete {
    height: 100px;
}
.ui-autocomplete div.auto_name{
    width: 30%;
    height: 20px;
    overflow: hidden;
    display: inline-block;
}
.ui-autocomplete div.auto_name2{
    width: 30%;
    height: 20px;
    overflow: hidden;
    display: inline-block;
}
.ui-autocomplete div.auto_code{
    width: 10%;
    display: inline-block;
}


div#login{

    position: absolute;

    height: 100px;
    top: 50%;
    left: 50%;
    margin-top: -75px;
    margin-left: -100px;
    background-color: #00c800;
    padding: 20px;
    border-radius: 10px;

}
