{# src/Acme/BSLable/Resources/views/Default/base.html.twig #}
{% extends '::base.html.twig' %}

{% block title %}Auftragsbearbeitung{% endblock %}


{% block body %}

<div id="PDF">
    <object data="{{urlPDF}}" type="application/pdf" width="800" height="900"  > </object>
</div>



<div id="menu2">

    <ul>

        <li><a href="{{ path('BSOrder_accounting') }}" >zurück</a></li>

    </ul>

</div>


{% endblock %}