{# src/Acme/BSLable/Resources/views/Default/base.html.twig #}
{% extends '::base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('/css/orders.css') }}" type="text/css" rel="stylesheet" />



{% endblock %}

{% block title %}Auftragsbearbeitung - Ausgabe{% endblock %}


{% block body %}

            <h1 id="title"> Auftragsbearbeitung - Ausgabe</h1>
        </div>
    </div>
</header>

<nav class="ym-hlist">

    <ul>


        <li><a  href="{{ path('BSData_mainmenu') }}">
            zurück
        </a>
        </li>
    </ul>
</nav>


<div class="ym-grid">


    <div class="ym-gl">

        <div class="ym-gbox">
         <object data="{{urlPDF}}" type="application/pdf" width="800" height="900px" > </object>
    </div>



    </div>
</div>

{% endblock %}