{% extends '::base.html.twig' %}
{% block title %}Kassen Bericht{% endblock %}


{% block javascripts %}
    <script src="{{ asset('/js/jquery.js') }}" type="text/javascript"></script>
    <script src="{{ asset('/js/product.js') }}" type="text/javascript"></script>
{% endblock %}

{% block body %}

    <h1>Kassen Bericht </h1>
    </div>
    </header>
    <nav class="ym-hlist">


        <ul>

            <li><a href="{{ path('BSCheckout_home', { 'cashbox_id': cashbox_id})  }}">zurück</a></li>
        </ul>

    </nav>

    <div class="ym-grid">


        <div class="ym-gl">

            <div class="ym-gbox">
                <object data="{{ urlPDF }}" type="application/pdf" width="800" height="600px"></object>

            </div>


        </div>
    </div>

{% endblock %}